#home .container{
    margin: ($base-size * 3.5) auto;
    padding: ($base-size * 3) ($base-size * 4);
    background: $color-light;
    border-bottom: 1px solid lighten($color-dark, 70%);
    border-radius: $radius;
}

.home-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    text-transform: uppercase;
    text-align: center;
    .nav-positions {
            flex-basis: 49.5%;
            display: flex;
            flex-direction: column;
            height: 130px;
            position: relative;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-bottom: 1%;
            overflow: hidden;
            cursor: pointer;
    }
    }

.order {
    background-image: url(../../images/home/pizza-1.jpg);
    h2 {
        position: absolute;
        margin: 0;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        transition: .2s;
    }
    &:hover h2 {
        top: 30%;
    }
    p {
        position: absolute;
        margin: 0;
        top: 130%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        transition: .2s;
    }
    &:hover p {
        top: 70%;
    }  
}
    
.booking {
    background-image: url(../../images/home/pizza-2.jpg);
    h2 {
        position: absolute;
        margin: 0;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        transition: .2s;
    }
    &:hover h2 {
        top: 30%;
    }
    p {
        position: absolute;
        margin: 0;
        top: 130%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        transition: .2s;
    }
    &:hover p {
        top: 70%;
    }  
}
    
.opening-hours {
    background-color: $color-main;
    flex-basis: 100%;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    .picture {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 32%;
        position: relative;
        height: 170px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 10px;
        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #000;
            opacity: 0;
            transition: .3s;
        }
        &:hover::after {
            opacity: 0.7;
        }
        .social-icons {
            position: relative;
            font-size: 18px;
            z-index: 1;
            i {
                color: white;
                padding: 8px;
                font-size: 2px;
                opacity: 0;
                transition: .3s;
                &:hover {
                    color: $color-main;
                    transform: rotate(360deg);
                }
            }
        }
        &:hover i {
            font-size: 24px;
            opacity: 1;
        }

            }
            .pic-1{
                background-image: url(../../images/home/gallery/pizza-4.jpg);
            }
            .pic-2{
                background-image: url(../../images/home/gallery/pizza-5.jpg);
            }
            .pic-3{
                background-image: url(../../images/home/gallery/pizza-6.jpg);
            }
            .pic-4{
                background-image: url(../../images/home/gallery/pizza-7.jpg);
            }
            .pic-5{
                background-image: url(../../images/home/gallery/pizza-8.jpg);
            }
            .pic-6{
                background-image: url(../../images/home/gallery/pizza-9.jpg);
            }
        }

.carousel {
    position: relative;
    margin: 60px auto;
    
}

.carousel-cell {
    width: 100%;
    height: 180px;
    margin-right: 10px;
    margin-bottom: 40px;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        height: 100%;
        object-fit: contain;
    }
    div {
        position: absolute;
        width: 70%;
        top: 0;
        right: 0;
        padding: 0 30px;
    }
  }

  